<% @events.each do |e| %>
  <div class="row rowspace">
    <div class="col-sm-1"></div>
    <div class="col-sm-8">
      <h3 id="event-title"><a href="events/<%= e.id %>"><%= e.headline %></a></h3>
      <div class="button-div">
        <a class="arrows support" href="#" id="<%= e.id %>"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"> Support</span></a>
        <a class="arrows oppose" href="#" id="<%= e.id %>"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"> Oppose</span></a>
      </div>
    </div>

    <div class="col-sm-3">
      <img src="/assets/200x250/<%= e.pol.bioguide_id %>.jpg" class="img-responsive pol-pics">
      <p class="party"><a href="pols/<%= e.pol_id %>"><%= e.pol.title %>. <%= e.pol.fullname %></a><br>(<%= e.pol.party %>) <%= e.pol.state %></p>
    </div>

  </div>
  <hr>
<% end %>
