    <div class="row rowspace">
      <div class="col-md-3">
        <div class="pol-pic">
          <img src="/assets/200x250/<%= @event.pol.bioguide_id %>.jpg" class="img-responsive">
          <p class="party"><%= link_to "#{@event.pol.title}. #{@event.pol.fullname}", pol_path(@event.pol_id) %><br>(<%= @event.pol.party %>) <%= @event.pol.state %></p>
          <% if current_user.admin? %>
            <%= link_to "Delete event", event_path(@event), class: "btn btn-default centered-text", :method => :delete %>
          <% end %>
        </div>
      </div>
      <div class="col-md-9 event-background">
        <h2><a href="<%= @event.source %>"><%= @event.headline %></a></h2>
        <p><%= @event.summary %></p>
        <div class="button-div">
          <a class="arrows support" href="#" id="<%= @event.id %>"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"> Support</span></a>
          <a class="arrows oppose" href="#" id="<%= @event.id %>"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"> Oppose</span></a>
        </div>
      </div>
    </div>

  <% @comments.each do |comment| %>
    <div class="well comments">
      <p><%= comment.content %></p>
    </div>
  <% end %>


<div class="well comments">
  <%= form_for [@event, Comment.new] do |form| %>
    <div class="formList">
      <p>
        <%= form.text_area :content, :rows => 2, :style => "width: 70%;" %>
        <%= submit_tag "Comment", :class => "btn btn-default comment-button" %>
      </p>
    </div>
  <% end %>
</div>