<p id="notice"><%= notice %></p>

<p>
  <strong>Headline:</strong>
  <%= @event.headline %>
</p>

<p>
  <strong>Source:</strong>
  <%= @event.source %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
