    <div class="container">
      <div class="row rowspace">
        <div class="col-sm-3">
          <div class="pol-pic">
            <img src="/assets/200x250/<%= @event.pol.bioguide_id %>.jpg" class="img-responsive pol-pic centered">
            <p class="party pol-name centered space"><%= link_to "#{@event.pol.title}. #{@event.pol.fullname}", pol_path(@event.pol_id) %><br>(<%= @event.pol.party %>) <%= @event.pol.state %></p>
            <% if current_user %>
              <% if current_user.admin? %>
                <%= link_to "Delete event", event_path(@event), class: "btn btn-default centered delete", :method => :delete %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-sm-9 event-background">
          <h2><a href="<%= @event.source %>" class="headline"><%= @event.headline %></a></h2>
          <% if @screenshot %>
            <div class="margin-top-20">
              <a href="#" data-toggle="modal" data-target="#screenshot-modal">View Article Screenshot</a>
            </div>
          <% end %>
          <p class="margin-top-20"><%= @event.summary %></p>
          <div class="button-div">
            <a class="arrows support" href="#" id="<%= @event.id %>"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"> Support</span></a>
            <a class="arrows oppose" href="#" id="<%= @event.id %>"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"> Oppose</span></a>
          </div>
        </div>
      </div>
    </div>

  <% @comments.each do |comment| %>
    <div class="well comments">
      <p><%= comment.content %></p>
    </div>
  <% end %>


<div class="well comments">
  <%= form_for [@event, Comment.new] do |form| %>
    <div class="formList">
      <p>
        <%= form.text_area :content, :rows => 2, :style => "width: 70%;" %>
        <%= submit_tag "Comment", :class => "btn btn-default comment-button" %>
      </p>
    </div>
  <% end %>
</div>

<% if @screenshot %>
  <div id="screenshot-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Screenshot</h4>
        </div>
        <div class="modal-body">
          <%= image_tag("screenshots/" + @event.id.to_s + ".png", class: "img-responsive") %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<% end %>