<div style="margin-top:70px">
	<div class="well">
		<div class="row rowspace">
			<div class="col-md-3">
				<img src="/assets/200x250/<%= @event.pol.bioguide_id %>.jpg" class="img-responsive">
				<p class="party"><a href="pols/<%= @event.pol_id %>"><%= @event.pol.title %>. <%= @event.pol.fullname %></a><br>(<%= @event.pol.party %>) <%= @event.pol.state %></p>
			</div>
			<div class="col-md-9">
				<h2><a href="<%= @event.source %>"><%= @event.headline %></a></h2>
				<div class="button-div">
					<a href="#" class="btn btn-lg btn-success buttonz support" id="<%= @event.id %>">Support</a>
					<a href="#" class="btn btn-lg btn-danger buttonz oppose" id="<%= @event.id %>">Oppose</a>
				</div>
			</div>
		</div>
	</div>
</div>