<h1>Edit Politican Info</h1>
<%= form_for [@pol], method: "put" do |f| %>
	<p>First Name: <%= f.text_field(:firstname) %></p>
	<p>Last Name: <%= f.text_field(:lastname) %></p>
  <%= f.fields_for :pac_ids do |pac| %>
    <%= pac.collection_select(:for_id, @pacs, "id", "committee_name", {}, multiple: true) %>
    <%= pac.collection_select(:against_id, @pacs, "id", "committee_name", {}, multiple: true) %>
  <% end %>



	<%= submit_tag("Update Politician") %>
	<%= submit_tag("Delete Politician", name: "delete") %>
<% end %>


<%= link_to 'Show', @pol %> |
<%= link_to 'Back', pols_path %>
