<h1>Politicians</h1>

<table>
  <thead>
    <tr>
      <th>In Office</th>
      <th>Title</th>
      <th>First</th>
      <th>Last</th>
      <th>Nickname</th>
      <th>Party</th>
      <th>District</th>
      <th>State</th>
      <th>Twitter Handle</th>
      <th>Facebook Page</th>
      <th>YouTube</th>
    </tr>
  </thead>

  <tbody>
    <% @pols.each do |pol| %>
    <tr>
      <td><% if pol.in_office %>✔<% else %> <% end %></td>
      <td><%= pol.title %></td>
      <td><%= pol.firstname %></td>
      <td><%= pol.lastname %></td>
      <td><%= pol.nickname %></td>
      <td><%= pol.party %></td>
      <td><% if pol.district == 0 %> <% else %><%= pol.district %><% end %></td>
      <td><%= pol.state %></td>
      <td><a href="https://twitter.com/<%= pol.twitter_id %>"><%= pol.twitter_id %></a></td>
      <td><a href="https://facebook.com/<%= pol.facebook_id %>"><%= pol.facebook_id %></a></td>
      <td><% if pol.youtube_url.nil? %> <% else %><a href="<%= pol.youtube_url %>"><%= pol.youtube_url %></a><% end %></td>
      <td><%= link_to 'Show', pol %></td>
      <td><%= link_to 'Edit', edit_pol_path(pol) %></td>
      <td><%= link_to 'Destroy', pol, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pol', new_pol_path %>
