
 <div class="feed" style="margin-top:70px">
    <div class="Polcenter">
      <div class="row">
        <div class="col-md-2">
          <img src="/assets/200x250/<%= @pol.bioguide_id %>.jpg" class="img-responsive pol-pic">
          <h3 class="centered-text"><%= @pol.fullname %></h3>
          <h4 class="centered-text">
            <% if @pol.party == "D" %>
            Democrat
            <% else %>
            Republican
            <% end %>
          </h4>
          <h4 class="centered-text">
            <% if @pol.title == "Rep" %>
            Representative
            <% else %>
            Senator
            <% end %>
          </h4>
          <% if current_user %>
            <% if @favorited  %>
              <%= link_to "Un-favorite", pol_remove_favorites_path(@pol, @favorited), class: "btn btn-default favorite centered-text", :method => :delete %>
            <% else %>
              <%= link_to "Favorite", pol_favorites_path(@pol), class: "btn btn-default favorite centered-text", :method => :post %>
            <% end %>
          <% end %>
          <% if current_user %>
            <% if current_user.admin? %>
              <%= link_to "Delete pol", pol_path(@pol), class: "btn btn-default centered-text", :method => :delete %>
            <% end %>
          <% end %>
        </div>


      <div class="col-md-1"></div>
      <div class="col-md-9  side">
        <% @pol.events.each do |e| %>
        <h2><a href="/events/<%= e.id %>"><%= e.headline %></a></h2>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <h3><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"> Support</h3>
            <h4>$ <%= e.balance_for %></h4>
          </div>
          <div class="col-md-6"></div>
          <div class="col-md-2">
            <h3><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"> Oppose</h3>
            <h4>$ <%= e.balance_against %></h4>
          </div>
          <div class="col-md-1"></div>
        </div>
        <% end %>
      </div>
    </div>
  </div>