<p id="notice"><%= notice %></p>
<h1><% if @pol.title == "Rep" %>Rep. <% else %>Sen. <% end %><%= @pol.firstname %> <%= @pol.lastname %></h1>
<h2><% if @pol.party == "D" %>Democrat<% elsif @pol.party =="R" %>Republican<% else %>Independent<% end %></h2>
<h2><% if @pol.district != 0 %>
			District <%= @pol.district %>, 
			<% end %>
			<%= @pol.state %>
<p><%= link_to 'Edit', edit_pol_path(@pol) %> |
<%= link_to 'Back', pols_path %></p>

