<!DOCTYPE html>
<html>
<head>
  <title>Tally</title>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
  <script src="//use.typekit.net/jkx0vob.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="mobile">
    <div class="row">
      <div class="col-xs-4"></div>
      <div class="col-xs-2">
        <h3 id="app">Get The App!</h3>
      </div>
      <div class="col-xs-2 logos">
        <img class="ios" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS5MmJKqsrv5BYVzgLi7NcOJLh7nkB5mZDOUlZJrDhphMRo6gXPew">
        <img class="ios" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRLz3UTCykCjEkMyGsxCeR9jBWGdBikHUhf7e6SnpT0v3FjWfNpMw">
      </div>
      <div class="col-xs-4"></div>
    </div>
  </div>

  <hr>

  <nav class="navbar" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand tally-center" href="/events">Tally</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if !user_signed_in? %>
          <li><a class="not-signedin" href="/users/sign_up">Signup</a></li>
          <li><a class="not-signedin" href="/users/sign_in">Login</a></li>
          <% end %>
          <% if user_signed_in? %>
          <li class="dropdown signedin">
            <a href="#" class="dropdown-toggle" data-target="dropdown-menu" data-toggle="dropdown" role="button" aria-expanded="true">Account<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#account">Account</a></li>
              <li><a href="#settings">Settings</a></li>
            </ul>
          </li>
          <li class="signedin"><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <hr>

  <div class="container margin-top-50">
    <%= yield %>
  </div>

</body>
</html>
